<h1>Step 1: Choose your Model and color</h1>

<form [formGroup]="form">
    <label for="modelSelect">Model:</label>
    <select id="modelSelect" formControlName="model" (change)="onModelChange()">
        <option [ngValue]="null">Choose...</option>
        <option *ngFor="let model of modelOptions(); trackBy:trackByCode"
                [ngValue]="model"
        >
            {{model.description}}
        </option>
    </select>

    <ng-container *ngIf="form.controls.model.valid">
        <label for="colorSelect">Color:</label>
        <select id="colorSelect" formControlName="color">
            <option *ngFor="let color of colorOptions(); trackBy:trackByCode"
                    [ngValue]="color"
            >
                {{color.description}}
            </option>
        </select>
    </ng-container>
</form>
